body {
  margin: 0;
  padding: 30px; 
  background-color: #a51111;
}

/* PokemonList.css */
.pokemon-list-container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  align-items: center;
  margin: 0 30px; 
  background-color: #eaeaea;
  border-radius: 5px; 
  text-decoration: none;
}

.pokemon-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23%; 
  margin: 1%;
  padding: 10px;
  /* background-color: #d7d7d7; */
  border-radius: 5px;
  text-align: center; 
  text-decoration: none;
  color: black;
}
.pokemon-item:hover {
  cursor: pointer;
}
.pokemon-item:hover div {
  cursor: pointer;
}

.pokemon-item img {
  width: 80px; 
  height: 80px; 
  margin-bottom: 10px; 
}

.pokemon-details h2 {
  margin: 0;
  padding: 0;
  word-wrap: break-word; 
  text-decoration: none;
}


/* Navbar.css */
.navbar {
  background-color: #a51111;
  color: white;
  padding: 10px 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.logo {
  width: 200px;
}

.nav-links {
  list-style: none;
  font-size: 1.5rem;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #61dafb; 
}
/*Pokemon*/

.pokemon-container {
  
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: #ffffff;
}

.pokemon-card{
  background-color: #cfcfcf;
  border: 4px solid black;
  border-radius: 8px;
  width: 40%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.pokemon-card-header {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
}

.pokemon-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line{
  border: 2px solid black;
}

.pokemon-image {
  max-width: 100%;
  height: auto; 
}

.pokemon-types-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}

.pokemon-abilities-container {
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  width: 100%;
}

.pokemon-abilities-header{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-list-types li {
  list-style: none;
  padding: 0;
  margin: auto;
  margin-top: 5px;
}

.pokemon-list-types {
  list-style-type: none; 
  padding: 0; 
  text-align: center; 
}

.pokemon-card-header h3{
  height:50%;
  width:50%;
}

.pokemon-list-abilities{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon-list-abilities li {
  list-style: none;
  padding: 0;
  margin: auto;
  margin-top: 5px;
}

/* .pokemon-list-stats li {
  list-style: none;
  padding: 0;
  margin: auto;
  margin-top: 5px;
} */

.pokemon-list-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%; 
  margin: auto; 
}


.pokemon-list-moves li {
  list-style: none;
  padding: 0;
  margin: auto;
  margin-top: 5px;
}

.pokemon-list-types, .pokemon-list-abilities, .pokemon-list-stats, .pokemon-list-moves {
  padding-inline-start: 0;
}
/*pagination*/
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  margin-left: 30px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: 30px;

}

.button-container button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.button-container button:hover {
  background-color: #45a049; /* Darker green */
}

.button-container button:disabled {
  background-color: #cccccc; /* Grey */
  cursor: not-allowed;
}

/*About*/
.about-container {
  background-color: #f9f9f9;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*Pokemon types*/
.type-normal { 
  background-color: #A8A878; 
  width: 100px;
  border-radius: 10px;
}
.type-fire { 
  background-color: #F08030;
  width: 100px;
  border-radius: 10px;
}
.type-water { 
  background-color: #6890F0;
  width: 100px;
  border-radius: 10px;
}
.type-grass { 
  background-color: #78C850;
  width: 100px;
  border-radius: 10px;
}
.type-electric { 
  background-color: #F8D030;
  width: 100px;
  border-radius: 10px;
}
.type-ice { 
  background-color: #98D8D8; 
  width: 100px;
  border-radius: 10px;
}
.type-fighting { 
  background-color: #C03028;
  width: 100px;
  border-radius: 10px;
}
.type-poison { 
  background-color: #A040A0;
  width: 100px;
  border-radius: 10px;
}
.type-ground { 
  background-color: #E0C068;
  width: 100px;
  border-radius: 10px;
}
.type-flying { 
  background-color: #A890F0;
  width: 100px;
  border-radius: 10px;
}
.type-psychic { 
  background-color: #F85888;
  width: 100px;
  border-radius: 10px;
}
.type-bug { 
  background-color: #A8B820;
  width: 100px;
  border-radius: 10px;
}
.type-rock { 
  background-color: #B8A038;
  width: 100px;
  border-radius: 10px;
}
.type-ghost { 
  background-color: #705898;
  width: 100px;
  border-radius: 10px;
}
.type-dragon { 
  background-color: #7038F8;
  width: 100px;
  border-radius: 10px;
}
.type-dark { 
  background-color: #705848;
  width: 100px;
  border-radius: 10px;
}
.type-steel { 
  background-color: #B8B8D0;
  width: 100px;
  border-radius: 10px;
}
.type-fairy { 
  background-color: #EE99AC;
  width: 100px;
  border-radius: 10px;
}

/* Health Bar */
.hp-bar-container {
  width: 200px; 
  height: 20px;
  background-color: #ddd;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden; 
}

.hp-bar {
  height: 100%;
  background-color: green; 
  transition: width 0.5s ease-in-out; 
}

/* Attack Bar */
.atk-bar-container {
  width: 200px; 
  height: 20px;
  background-color: #ddd;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden; 
}

.atk-bar{
  height: 100%;
  background-color: red; 
  transition: width 0.5s ease-in-out; 
}

/* Defense Bar */
.def-bar-container {
  width: 200px; 
  height: 20px;
  background-color: #ddd;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden; 
}
.def-bar{
  height: 100%;
  background-color: darkgray; 
  transition: width 0.5s ease-in-out; 
}

/* Speed Bar */
.spd-bar-container {
  width: 200px; 
  height: 20px;
  background-color: #ddd;
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden; 
}
.spd-bar{
  height: 100%;
  background-color: lightblue; 
  transition: width 0.5s ease-in-out; 
}

/* Pokemon type IDs */
/* Fire type */
#pokemon-type-fire { background-color: #F08030; }

/* Water type */
#pokemon-type-water { background-color: #6890F0; }

/* Grass type */
#pokemon-type-grass { background-color: #78C850; }

/* Electric type */
#pokemon-type-electric { background-color: #F8D030; }

/* Psychic type */
#pokemon-type-psychic { background-color: #F85888; }

/* Ice type */
#pokemon-type-ice { background-color: #98D8D8; }

/* Dragon type */
#pokemon-type-dragon { background-color: #7038F8; }

/* Dark type */
#pokemon-type-dark { background-color: #705848; }

/* Fairy type */
#pokemon-type-fairy { background-color: #EE99AC; }

/* Normal type */
#pokemon-type-normal { background-color: #A8A878; }

/* Fighting type */
#pokemon-type-fighting { background-color: #C03028; }

/* Flying type */
#pokemon-type-flying { background-color: #A890F0; }

/* Poison type */
#pokemon-type-poison { background-color: #A040A0; }

/* Ground type */
#pokemon-type-ground { background-color: #E0C068; }

/* Rock type */
#pokemon-type-rock { background-color: #B8A038; }

/* Bug type */
#pokemon-type-bug { background-color: #A8B820; }

/* Ghost type */
#pokemon-type-ghost { background-color: #705898; }

/* Steel type */
#pokemon-type-steel { background-color: #B8B8D0; }

#default-type { background-color: lightgray; }